<header class="header" [appScrollClass]="{top: 'top'}">
  <div class="container">
    <nav class="main-links">
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </nav>
    <nav class="main-menu">
      <div class="title">
        <img src="assets/kahuna-logo.svg" alt="">
      </div>
      <ul class="links">
        <li><a href="#">Our Product</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
      <div class="buttons">
        <button class="button request-demo">Request Demo</button>
        <button (click)="toggleMenu()" class="icon-button menu-button"><i class="fa fa-bars"></i></button>
        <button (click)="toggleMenu()" class="icon-button close-button"><i class="fa fa-close"></i></button>
      </div>
    </nav>
  </div>
</header>
<section class="banner">
  <div class="inner">
    <h1>In the moments that matter</h1>
    <button class="button watch-video"><i class="fa fa-play"></i> Watch Full Video</button>
  </div>
</section>

<p *ngFor="let i of range(1, 50).toArray() | async">Lol</p>
