<header class="navbar" [appScrollClass]="{top: 'top', up: 'show', down: 'hide', bottom: 'bottom'}">
  <h1 class="title">gravitate</h1>
  <nav class="tabs">
    <a href="#">Services</a>
    <a href="#">Work</a>
    <a href="#">Company</a>
    <a href="#">Blog</a>
    <a href="#"><i class="fa fa-search"></i></a>
  </nav>
  <div class="buttons">
    <button class="button contact-button">Contact us</button>
    <button (click)="toggleMenu()" class="icon-button menu-button"><i class="fa fa-bars"></i></button>
    <button (click)="toggleMenu()" class="icon-button close-button"><i class="fa fa-close"></i></button>
  </div>
</header>
<div class="banner">
  <h1>A Digital Marketing<br>& Design Agency</h1>
  <button class="button contact-button">Lern more</button>
</div>
<p *ngFor="let i of range(1, 12).toArray() | async">Lol</p>
